@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.chart-container {
  position: relative;
  width: 100%;     /* El ancho del contenedor se ajustará al contenedor padre */
  height: 400px;   /* O el tamaño que prefieras */
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;  /* Puedes cambiar la altura en pantallas más pequeñas */
  }
}

